<div class="container">
    <h2>Pick Location</h2>
    <div class=map #map leaflet [leafletLayersControl]="layersControl" [leafletOptions]="options" [leafletLayersControlOptions]="controlOptions" [leafletLayers]="layers" (leafletClick)=setLocation($event)>
    </div>
    <div class=save>
        <div class="form-group">
            <input class="btn btn-primary" type="button" value="Set" (click)="save()" [disabled]=!position> &nbsp;
            <input class="btn btn-primary" type="button" value="Cancel" (click)="cancel()">
        </div>
    </div>
</div>