<div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of dataset;let i = index" (click)="edit(item, i)">
            <span [ngClass]=isUploaded(item)>{{item.occurred_from | date : 'mediumDate'}}</span>
            <span *ngIf=item.error>{{item.error}}</span>
            <span class=status>{{item.status}}</span>
        </li>
    </ul>
    <div class="commands">
        <input class="btn btn-primary" type="button" value="Add" (click)="new()"> &nbsp;
        <input class="btn btn-primary" type="button" value="Upload" (click)="upload()">&nbsp;
        <input class="btn btn-primary" id="list-cleanup-button" type="button" value="Cleanup" (click)="cleanup()">
    </div>
</div>