<div class="container" *ngIf="pane=='inputing'">
    <div class="subcontainer">
        <h2>{{title}}</h2>
        <form>
            <div class="form-group">
                <mat-label>latitude</mat-label>
                <input matInput [(ngModel)]="latitude" name="latitude">
            </div>
            <div class="form-group">
                <mat-label>longitude</mat-label>
                <input matInput [(ngModel)]="longitude" name="longitude">
            </div>
            <div class="form-group">
                <button (click)="locate()" class="add">locate</button>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [value]=date (dateInput)="setDate($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-label>Choose a time</mat-label>
                <input [ngxTimepicker]="timepicker" class="form-control" [value]=clock readonly [format]=24>
                <ngx-material-timepicker #timepicker (timeChanged)=setTime($event)></ngx-material-timepicker>
            </div>

            <div *ngFor="let table of tables" class="{{table}} tablita">

                <h3 *ngIf="!schema['definitions'][table].multiple">{{schema['definitions'][table].title}}</h3>
                <h3 *ngIf="schema['definitions'][table].multiple">{{schema['definitions'][table].plural_title}}</h3>

                <div class="commands">
                    <button (click)="pop(table)" *ngIf="schema['definitions'][table].multiple && registry.data[table].length" class="btn btn-primary locate">-</button> &nbsp;
                    <button (click)="add(table)" *ngIf="schema['definitions'][table].multiple" class="btn btn-primary add">+</button>
                </div>
                <div class="item" *ngIf="!schema['definitions'][table].multiple">
                    <div *ngFor="let fieldname of schema['definitions'][table].properties|orderedFields">
                        <div class="form-group" *ngIf="schema['definitions'][table].properties[fieldname].fieldType=='text'">
                            <mat-label>{{fieldname}}</mat-label>
                            <input name="{{fieldname}}" class="form-control" [(ngModel)]="registry.data[table][fieldname]" name="{{table}}-{{fieldname}}" />
                        </div>
                        <div class="form-group selectable" *ngIf="schema['definitions'][table].properties[fieldname].fieldType=='selectlist'" id="{{fieldname}}">
                            <mat-label>{{fieldname}}</mat-label>
                            <mat-select *ngIf="schema['definitions'][table].properties[fieldname].format!='checkbox'" [(ngModel)]="registry.data[table][fieldname]" name="{{table}}-{{fieldname}}">
                                <mat-option *ngFor="let item of schema['definitions'][table].properties[fieldname].enum" [value]=item>{{item}}</mat-option>
                            </mat-select>
                            <mat-select *ngIf="schema['definitions'][table].properties[fieldname].format=='checkbox'" multiple [(ngModel)]="registry.data[table][fieldname]" name="{{table}}-{{fieldname}}">
                                <mat-option *ngFor="let item of schema['definitions'][table].properties[fieldname].items.enum" [value]=item>{{item}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div *ngIf="schema['definitions'][table].multiple">
                    <div *ngFor="let u of registry.data[table]; let i = index" class="item">
                        <input name="_localId" type="hidden" [(ngModel)]="u._localId" />
                        <div *ngFor="let fieldname of schema['definitions'][table].properties|orderedFields">
                            <div class="form-group" *ngIf="schema['definitions'][table].properties[fieldname].fieldType=='text'">
                                <mat-label>{{fieldname}}</mat-label>
                                <input name="{{fieldname}}" class="form-control" [(ngModel)]="u[fieldname]" />
                            </div>
                            <div class="form-group selectable" *ngIf="schema['definitions'][table].properties[fieldname].fieldType=='selectlist'" id="select-{{table}}-{{i}}-{{fieldname}}">
                                <mat-label>{{fieldname}}</mat-label>
                                <mat-select *ngIf="schema['definitions'][table].properties[fieldname].format!='checkbox'" [(ngModel)]="u[fieldname]" name="{{table}}-{{i}}-{{fieldname}}">
                                    <mat-option *ngFor="let item of schema['definitions'][table].properties[fieldname].enum" [value]="item">{{item}}</mat-option>
                                </mat-select>
                                <mat-select *ngIf="schema['definitions'][table].properties[fieldname].format=='checkbox'" multiple [(ngModel)]="u[fieldname]" name="{{table}}-{{i}}-{{fieldname}}">
                                    <mat-option *ngFor="let item of schema['definitions'][table].properties[fieldname].items.enum" [value]="item">{{item}}</mat-option>
                                </mat-select>
                            </div>
                            <div class="form-group selectable" *ngIf="schema['definitions'][table].properties[fieldname].fieldType=='reference'" id="{{fieldname}}">
                                <mat-label>{{fieldname}}</mat-label>
                                <mat-select [(ngModel)]="u[fieldname]" name="{{table}}-{{fieldname}}">
                                    <mat-option *ngFor="let item of registry.data[schema['definitions'][table].properties[fieldname].watch.target]; let v=index" [value]="item._localId">{{1+v}}</mat-option>
                                </mat-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="form-group">
            {{validationErrorMessage}}
        </div>
    </div>
    <div class="form-group console">
        <button class="btn btn-primary" value="OK" (click)="write()" [disabled]=!isValid()>OK</button> &nbsp;
        <button class="btn btn-primary" value="Cancel" (click)="cancel()">Cancel</button>
    </div>

</div>
<app-location *ngIf="pane=='locating'" (locateEvent)=setLocation($event) [latitude]=latitude [longitude]=longitude>

</app-location>
<app-list *ngIf="pane=='listing'" (record)=loadRecord($event)></app-list>
<app-login *ngIf="pane=='login'" (entering)=list()></app-login>
<input class="btn btn-primary" id="list-logout-button" type="button" value="Logout" (click)="logout()" style="display:none">